{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="block-header block-header-default">
                        <h2 class="block-title">Daftar Transaksi</h2>
                        <div class="block-options">
                            <a href="{{ path('medical_transact_create') }}" class="btn btn-alt-primary">
                                <i class="fa fa-plus"></i> Tambah
                            </a>
                        </div>
                    </div>
                    <div class="block-content block-content-full">
                        {% for msg in app.session.getFlashBag().get('message_success') %}
                            <p class="p-10 bg-success text-white">{{ msg }}</p>
                        {% endfor %}
                        <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>Kode Sampel</th>
                                <th>Nama Pelanggan</th>
                                <th>Hasil</th>
                                <th>Aksi</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set i = 1 %}
                            {% for data in transaksi %}
                                <tr>
                                    <td>{{ i }}</td>
                                    <td>{{ data.sampel.kodeSampel }}</td>
                                    <td>{{ data.pelanggan.nama }}</td>
                                    <td>
                                        {% if data.hasil is null %}
                                            <a href="{{ path('medical_hasil_create', {'sampel_id': data.id}) }}">Kosong</a>
                                            {% else %}
                                                {% if (data.hasil.isApproved == null) %}
                                                    <span class="badge badge-info">Menunggu</span>
                                                {% elseif (data.hasil.isApproved == 0) %}
                                                    <span class="badge badge-danger">Ditolak</span>
                                                {% elseif (data.hasil.isApproved == 1) %}
                                                    <span class="badge badge-success">Diterima</span>
                                                {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('medical_transact_edit', {id: data.id}) }}"><i class="fa fa-pencil"></i></a> &nbsp;
                                        <a href="{{ path('medical_print_bukti_pembayaran', {id: data.id}) }}" target="_blank"><i class="fa fa-dollar"></i></a> &nbsp;
                                        {% if data.hasil is not null %}
                                            {% if data.hasil.isApproved == 1 %}
                                                <a href="{{ path('medical_print_cert', {id: data.id}) }}"><i class="fa fa-print"></i></a>
                                            {% endif %}
                                        {% endif %}
                                        <a href="{{ path('medical_transact_delete', {id: data.id }) }}" class="text-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                {% set i = i + 1 %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}