{% extends 'base.html.twig' %}

{% block title %}Daftar Sampel{% endblock %}

{% block content %}
    <div class="content">
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">Daftar Sampel</h3>
            </div>
            <div class="block-content block-content-full">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Kode Sampel</th>
                        <th>Jenis Sampel</th>
                        <th>Kondisi</th>
                        <th>Metode Pengambilan</th>
                        <th>Hasil</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i = 1 %}
                    {% for data in sampel %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ data.kodeSampel }}</td>
                            <td>{{ data.jenisSampel }}</td>
                            <td>{{ data.kondisi }}</td>
                            <td>{{ data.metodePengambilan }}</td>
                            <td>
                                {% if data.transaksi is not null %}
                                    {% if data.transaksi.hasil is not null %}
                                        {% if (data.transaksi.hasil.isApproved == null) %}
                                            <span class="badge badge-info">Menunggu</span>
                                        {% elseif (data.transaksi.hasil.isApproved == 0) %}
                                            <span class="badge badge-danger">Ditolak</span>
                                        {% elseif (data.transaksi.hasil.isApproved == 1) %}
                                            <span class="badge badge-success">Diterima</span>
                                        {% endif %}
                                    {% else %}
                                        <a href="{{ path('medical_hasil_create', {sampel_id: data.id}) }}">Tidak ada</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% set i = i + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}