{% extends 'base.html.twig' %}

{% block customCSS %}
    <link rel="stylesheet" type="text/css" media="print" href="{{ asset('assets/css/codebase.css') }}">
    <style type="text/css">
        @media print {
            .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
            .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
            .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
            .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
            .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
            .col-xl-auto {
                position: relative;
                width: 100%;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <main id="main-container">
        <!-- Page Content -->
        <div class="content">

            <div class="block">
                <div class="block-header block-header-default">
                    <h3 class="block-title"></h3>
                    <div class="block-options">
                        <!-- Print Page functionality is initialized in Codebase() -> uiHelperPrint() -->
                        <button type="button" class="btn-block-option" onclick="Codebase.helpers('print-page');">
                            <i class="si si-printer"></i> Print Invoice
                        </button>
                        <button type="button" class="btn-block-option" data-toggle="block-option"
                                data-action="fullscreen_toggle"></button>
                        <button type="button" class="btn-block-option" data-toggle="block-option"
                                data-action="state_toggle" data-action-mode="demo">
                            <i class="si si-refresh"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    <div class="row">
                        <div class="col-md-2">

                            <img src="{{ asset('assets/img/header/header_bukti.png') }}" alt="">
                        </div>
                        <div class="col-md-10">
                            <h3 class="text-center"><strong>BUKTI PEMBAYARAN</strong></h3>
                            <table class="table table-print table-condensed table-borderless">
                                <tbody>
                                <tr>
                                    <th>No.</th>
                                    <td>:</td>
                                    <td>{{ data.sampel.kodeSampel }}/{{ "now"|date('Y') }}</td>
                                </tr>
                                <tr>
                                    <th>Sudah terima dari</th>
                                    <td>:</td>
                                    <td class="text-capitalize"><strong>{{ data.pelanggan.nama }}</strong></td>
                                </tr>
                                <tr>
                                    <th>Jumlah uang</th>
                                    <td>:</td>
                                    <td class="text-capitalize">
                                        <strong>
                                            <i>Tujuh puluh lima ribu rupiah</i>
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Buat Pembayaran</th>
                                    <td>:</td>
                                    <td>Biaya pemeriksaan sampel/contoh uji:</td>
                                </tr>
                                <tr class="text-16">
                                    <th>&nbsp;</th>
                                    <td>&nbsp;</td>
                                    <td>
                                        <span class="text-left">R-974 Swab AlKes - ALT</span>

                                    </td>
                                    <td>
                                        <span>Rp. &nbsp;&nbsp;&nbsp;<span class="digitalize">{{ data.biaya }}</span></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p>&nbsp;</p>
                            <table class="table table-borderless table-print no-padding">
                                <tbody>
                                <tr class="text-center">
                                    <td>&nbsp;</td>
                                    <td>Malang, {{ "now"|date('d/m/Y') }}</td>
                                </tr>
                                <tr class="text-center">
                                    <td>&nbsp;</td>
                                    <td>Penerima</td>
                                </tr>
                                <tr>
                                    <td>Terbilang : <span class="borderize"><i><strong>Rp. <span class="digitalize">{{ data.biaya }}</span></strong></i></span>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr class="text-center">
                                    <td>&nbsp;</td>
                                    <td>Puspita</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Invoice -->
        </div>
        <!-- END Page Content -->
    </main>
{% endblock %}

{% block customJS %}
    <script>
        $(function() {
            var digit = parseInt($('.digitalize').first().text()),
                digitalize = digit.toLocaleString();

            digit.text(digitalize);

        });
    </script>
{% endblock %}