{% extends 'base.html.twig' %}

{% block title %}Daftar Laboratorium{% endblock %}

{% block content %}
    <div class="content">
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">Daftar Laboratorium</h3>
                <div class="block-options">
                    <a href="{{ path('medical_lab_create') }}" class="btn btn-alt-primary">
                        <i class="fa fa-plus"></i> Tambah
                    </a>
                </div>
            </div>
            <div class="block-content block-content-full">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Nama</th>
                        <th>Jenis</th>
                        <th>Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i = 1 %}
                    {% for data in lab %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ data.namaLab }}</td>
                            <td>{{ data.jenisLab }}</td>
                            <td>
                                <a href="{{ path('medical_lab_edit', {id: data.id}) }}"><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                        {% set i = i + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}