{% extends 'base.html.twig' %}

{% block title %}Daftar Pengguna{% endblock %}

{% block content %}
    <div class="content">
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">Daftar Pengguna</h3>
                <div class="block-options">
                    <a href="{{ path('medical_user_create') }}" class="btn btn-alt-primary">
                        <i class="fa fa-plus"></i> Tambah
                    </a>
                </div>
            </div>
            <div class="block-content">
                <table class="table">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i = 1 %}
                    {% for data in user %}
                        <tr>
                            <th>{{ i }}</th>
                            <th>{{ data.name }}</th>
                            <th>{{ data.email }}</th>
                            <th>
                                <a href="{{ path('medical_user_edit', {id: data.id}) }}"><i class="fa fa-pencil"></i></a>
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}