{% extends 'base.html.twig' %}

{% block title %}Daftar Pengguna{% endblock %}

{% block content %}
    <div class="content">
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">Daftar Pengguna</h3>
                <div class="block-options">
                    <a href="{{ path('medical_user_create') }}" class="btn btn-alt-primary">
                        <i class="fa fa-plus"></i> Tambah
                    </a>
                </div>
            </div>
            <div class="block-content block-content-full">
                {% for message in app.session.getFlashBag().get('message_success') %}
                    <div class="label label-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i = 1 %}
                    {% for data in user %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.email }}</td>
                            <td>
                                <a href="{{ path('medical_user_edit', {id: data.id}) }}"><i class="fa fa-pencil"></i></a>
                                <a href="{{ path('medical_user_delete', {id: data.id}) }}" class="text text-danger"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        {% set i = i + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}