{% extends 'base.html.twig' %}

{% block title %}Daftar Hasil{% endblock %}

{% block content %}
    <div class="content">
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">Daftar Hasil</h3>
            </div>
            <div class="block-content block-content-full">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Nama Pelanggan</th>
                        <th>Kode Sampel</th>
                        <th>Satuan</th>
                        <th>Parameter</th>
                        <th>Metode Analisa</th>
                        <th>Baku Mutu</th>
                        <th>User</th>
                        <th>Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i = 1 %}
                    {% for data in hasil %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ data.transaksi.pelanggan.nama }}</td>
                            <td>{{ data.transaksi.sampel.kodeSampel }}</td>
                            <td>{{ data.satuan }}</td>
                            <td>{{ data.parameter }}</td>
                            <td>{{ data.metodeAnalisa }}</td>
                            <td>{{ data.bakuMutu }}</td>
                            <td>{{ data.user.name }}</td>
                            <td>
                                <a href="{{ path('medical_pelanggan_edit', {id: data.id}) }}"><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                        {% set i = i + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}