{% extends 'base.html.twig' %}

{% block title %}Daftar Hasil{% endblock %}

{% block content %}
    <div class="content">
        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">Daftar Hasil</h3>
            </div>
            <div class="block-content block-content-full">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Nama Pelanggan</th>
                        <th>Kode Sampel</th>
                        <th>Satuan</th>
                        <th>Parameter</th>
                        <th>Metode Analisa</th>
                        <th>Baku Mutu</th>
                        <th>User</th>
                        <th>Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i = 1 %}
                    {% for data in hasil %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ data.transaksi.pelanggan.nama }}</td>
                            <td>{{ data.transaksi.sampel.kodeSampel }}</td>
                            <td>{{ data.satuan }}</td>
                            <td>{{ data.parameter }}</td>
                            <td>{{ data.metodeAnalisa }}</td>
                            <td>{{ data.bakuMutu }}</td>
                            <td>{{ data.user.name }}</td>
                            <td>
                                {% if is_granted('ROLE_MANAJER') or is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('medical_hasil_approve', {hasil_id: data.id}) }}"><i class="fa fa-check"></i></a>
                                    <a href="#" id="refuse-{{ data.id }}" data-id="{{ data.id }}" class="text-danger" data-toggle="modal" data-target="#modal-refuse"><i class="fa fa-close"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% set i = i + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="modal-container">
        <div class="modal fade" id="modal-refuse" tabindex="-1" role="dialog" aria-labelledby="modal-popin" aria-hidden="true">
            <div class="modal-dialog modal-dialog-popin" role="document">
                <div class="modal-content">
                    <form action="{{ path('medical_hasil_refuse') }}" method="post">
                        <div class="block block-themed block-transparent mb-0">
                            <div class="block-header bg-primary-dark">
                                <h3 class="block-title">Terms &amp; Conditions</h3>
                                <div class="block-options">
                                    <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                        <i class="si si-close"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="block-content">
                                <input type="hidden" name="hasil_id" id="hasil_id">
                                <div class="form-group">
                                    <label for="alasan">Alasan ditolak</label>
                                    <textarea name="alasan" id="alasan" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-alt-danger">
                                <i class="fa fa-close"></i> Tolak
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block customJS %}
    <script>
        $(function () {
            $('[id^=refuse]').click(function () {
                var hasilId = $(this).attr('data-id'),
                    modalTarget = $(this).attr('data-target'),
                    modalContainer = $('#modal-container').find(modalTarget);

                modalContainer.find('#hasil_id').val(hasilId);
            });
        });
    </script>
{% endblock %}